html {
  // 1rem = 10px;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  height: 100vh;
  width : 100vw;
  background: #0b2c4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  max-width: 400px;
  position : relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap : 1rem;
  justify-content : center;
  align-items: center
}

.canvas-wrapper{
  width: 100%;
}